* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Desktop {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.Desktop > * {
  border: None;
}
body {
  overflow: hidden;
}
.app-icon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login-screen {
  background: #1c56b3; /* Windows XP default blue background */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: #fff;
  padding: 2em;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.login-box h2 {
  color: #333;
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: normal;
}

.user-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 16px;
  background-color: #1c56b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button:hover {
  background-color: #154089;
} */