* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Desktop {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.Desktop > * {
  border: None;
}
body {
  overflow: hidden;
}
.app-icon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}