.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  padding: 0.4rem;
  color: white;
  height: 52px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.taskbar-start {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.app-icon {
  padding: 0.4rem;
  font-size: 12px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.app-icon.active {
  background-color: #999999;
}

.app-icon img {
  width: 35px;
  height: 35px;
}

.taskbar-clock {
  margin-right: 25px;
  font-size: 14px;
  background-color: #000;
  padding: .5rem;
}